:root {
  --color-red: #a23e48;
  --color-yellow: #fa9f42;
  --color-blue: #2b4162;
  --color-white: #f0f4ef;
  --color-skyblue: #3891A6;
}

@font-face {
  font-family: number;
  src: 'Yusei Magic';
  unicode-range: U+0030-0039;
  font-size: 900px;
}

html {
  background-image:
    repeating-linear-gradient(90deg,
      var(--color-skyblue),
      var(--color-skyblue) 1px,
      transparent 1px,
      transparent 32px),
    repeating-linear-gradient(0deg,
      #000,
      #000 1px,
      #fff 1px,
      #fff 32px);
  font-size: 18px;
  font-family: 'Yusei Magic', sans-serif;
  ;
}

body {
  width: 100%;
  height: auto;
  max-width: 1000px;
  margin: 0 auto;
  color: var(--color-blue);
}

.App {
  text-align: center;
  background-color: #f7f1e3;
  color: var(--color-blue);

}

#div{
  padding-bottom: 32px;
}

.App button {
  width: 25%;
  height: 40px;
  background-color: var(--color-skyblue);
  color: var(--color-white);
  border: none;
  border-right: 2px dotted var(--color-white);

}

.App button:nth-child(4) {
  border: none;
}

.App button:hover {
  background-color: var(--color-blue);

}



.buttons button{
  width: 160px;
  height: 40px;
  margin: 16px 8px auto 8px;
  border: none;
  background-color: var(--color-skyblue);
  box-shadow: 0 4px 0 0 #246a7a;
}

.buttons button:first-child{
  background-color: var(--color-white);
  color: var(--color-blue);
  box-shadow: 0 4px 0 0 #bfb5a6;
}

.buttons button:first-child:hover{
  background-color: var(--color-white);
  color: var(--color-blue);
  box-shadow: 0 4px 0 0  var(--color-white);
}

/* タイポグラフィ */
h1 {
  margin: 0;
  height: 160px;
  font-size: 3em;
  font-weight: bold;
  color: var(--color-white);
  text-align: center;
  line-height: 160px;
  background-color: var(--color-yellow);
}

.title p {
  height: 50px;
  text-align: center;
  line-height: 30px;


}

h2 {
  margin: 0;
  font-weight: bold;
  color: #7C2D12;
}

h3 {
  margin: 0;
  font-weight: bold;
  color: var(--color-red);
  margin-bottom: 8px;
}

p {
  margin-bottom: 8px;
  font-weight: normal;
}

.inputGet {
  width: 356px;
  height: 30px;
  border-radius: 30px;
  background-color: white;
  border: var(--color-yellow) 2px solid;
  padding-left: 15px;
  margin-bottom: 24px;

}



.inputGetText {
  width: 280px;
  height: 30px;
  border-radius: 30px;
  padding-left: 15px;
  background-color: var(--color-white);
  margin-bottom: 24px;
  border: var(--color-yellow) 2px solid;
  background-color: white;
}

.inputGetNumber {
  width: 40px;
  height: 30px;
  border-radius: 30px;
  padding-left: 15px;
  background-color: var(--color-white);
  margin-bottom: 24px;
  border: var(--color-yellow) 2px solid;
  background-color: white;
}

#taskbutton {

  width: 160px;
  height: 40px;
  background-color: var(--color-red);
  box-shadow: 0 4px 0 0 #852d36;
  border: none;
  border-radius: 20px;
}

#taskbutton:hover {
  background-color: var(--color-white);
  color: var(--color-skyblue);
  border: none;
  box-shadow: none;
  border: dotted 2px var(--color-skyblue);

}

.sintyoku{
  max-width: 400px;
  width: 90%;
  height: auto;
  display: flex;
  padding: 30px;
  margin: 0 auto 40px auto;

}

.sintyokuGet{
  width: 35%;
  text-align: center;
}

.sintyoku p{
  font-size: 32px;
  margin: 0 0 16px 0;
}

.sintyokuPoint{
  width: 65%;
}

span{
  font-size: 1.4em;
  color: var(--color-yellow);
}

#hyouzi{
  margin-bottom: 32px;
  width: 160px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: var(--color-blue);
}

#hyouzi:hover{
  background-color: var(--color-skyblue);
}

table{
  max-width: 400px;
  width: 90%;
  margin: 16px auto 40px auto;
  text-align: center;

}

th{
  background-color: #3891A6;
  color: white;
}

tbody tr{
  border-bottom: 0.2px var(--color-blue) solid;
}

.buttons p{
  border-bottom: var(--color-red) dotted 3px;
  
}

.kakuninn{
  border-bottom: dotted var(--color-red) 2px;
}

